# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Gebruiker\Documents\Jochem\Jaar 3\Periode 3\Design Patterns\Github\Budget_Vision_CL\untitled\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
